@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: DM Sans;
    src: url(../fonts/DM_Sans/DMSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: DM Sans;
    src: url(../fonts/DM_Sans/DMSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: DM Sans;
    src: url(../fonts/DM_Sans/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}