.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 63px;
}
.header__logo {
  color: rgba(36, 77, 77, 1);

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 304px;
}
.header_new_nav {
  display: none;
}
.list__item a {
  color: rgba(22, 22, 22, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.about_text {
  padding: 101px 18px 137px 100px;
  flex-shrink: 1;
}
.about_company__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #154444;
  margin-top: 27px;
}

.about_company_title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.about_company_text {
  margin-top: 44px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  max-width: 488px;
}
.explore_more {
  margin-top: 35px;
  padding: 16px 26px;
  color: #154444;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
}
.partners {
  margin-top: 140px;
}
.partners_wrapper {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}
.partners_title {
  color: rgba(36, 77, 77, 1);
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
.image_block {
  display: flex;
  justify-content: space-between;
}
.mastercard {
  display: flex;
  flex-direction: column;
}
.about_us {
  margin-top: 140px;
}
.about_us_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.about_us_title {
  color: rgba(36, 77, 77, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.about_us_text {
  color: rgba(68, 68, 68, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}
.about_us_wrapper_text {
  flex: 0 0 468px;
  padding: 47px 32px 49px 0;
}
.about_us_characteristics_title {
  color: rgba(36, 77, 77, 1);

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.about_us_characteristics_text {
  color: rgba(56, 55, 56, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.characteristics_li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
}
.about_us_text_li {
  margin-left: 28px;
}
.about_us_img {
  height: 100%;
  width: 100%;
  max-width: 632px;
  flex: 1 1 632px;
}
/*Our popular funiture*/
.about_furniture {
  margin-top: 140px;
}
.about_furniture_title {
  color: rgba(36, 36, 36, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
}
.about_furniture_p {
  color: rgba(56, 55, 56, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 820px;
  margin: 20px 0 80px;
}
.about_furniture_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.furniture_card {
  flex: 1 1 380px;
}
.about_furniture_img {
  width: 100%;
}
.top_stroke_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 21px;
  padding: 0 24px 0;
}
.cards_title {
  color: rgba(36, 36, 36, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.bottom_stroke_card {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 27px;
}

.furniture_card {
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 1);
}
.furniture_cost {
  color: rgba(21, 68, 68, 1);

  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.button_buy_furniture {
  background-color: rgba(36, 77, 77, 1);
  padding: 6px 15px;
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}
.buttons_share_fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.button_favorite_share {
  display: flex;
  border-radius: 50%;
  background: rgba(236, 244, 255, 1);
  padding: 6px 6px;
}
.all_furniture {
  margin-top: 140px;
}
.all_furniture_title {
  color: rgba(36, 36, 36, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.all_furniture_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 101px;
  margin-bottom: 88px;
}
.all_furniture_li {
  color: rgba(145, 144, 144, 1);

  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  position: relative;
}
.all_furniture_li_style::after {
  content: "";
  display: block;
  position: absolute;
  width: 57px;
  height: 2px;
  background-color: #154444;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.all_furniture_li_style {
  color: #154444;
}
.all_furniture_img {
  width: 100%;
  height: 100%;
  flex: 1 0 452px;
}
.all_furniture_button {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(217, 220, 229, 1);
  padding: 16px;
  width: 100%;
  gap: 16px;
  flex: 0 1 222px;
}

.all_furniture_button_text {
  color: rgba(128, 128, 128, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
}
.all_furniture_part {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.all_furniture_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
  flex: 0 0 494px;
}
.all_furniture_button:hover {
  background-color: #154444;
}
.all_furniture_button:hover .all_furniture_button_text {
  color: white;
}
.all_furniture_button:hover svg path {
  fill: white;
}

.feedback {
  margin-top: 140px;
}
.feedback_wrapper_img {
  width: 100%;
  height: 100%;
  max-width: 565px;
}

.feedback_wrapper_title {
  color: rgba(36, 36, 36, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 105px;
  margin: 0 0 40px;
}
.feedback_wrapper_p {
  color: rgba(56, 55, 56, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.feedback_wrapper {
  display: flex;
  flex-direction: row;
  gap: 101px;
}
.customer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.customer_name {
  color: rgba(0, 0, 0, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.star {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.star_count {
  color: rgba(0, 0, 0, 1);

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
.register {
  margin-top: 140px;
}
.register_wrapper {
  background-color: rgba(244, 246, 246, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.register_wrapper_title {
  color: rgba(34, 34, 34, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 605px;
  padding-top: 68px;
  margin-bottom: 20px;
}
.register_wrapper_text {
  color: rgba(34, 34, 34, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 493px;
}
.register_textbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-align: left;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 55px;
  padding: 7px 17px;
}
.register_textbox_text {
  color: rgba(186, 186, 186, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.register_textbox_button {
  background-color: rgba(48, 95, 100, 1);
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 32px;
}

/*footer*/
.footer {
  margin-top: 140px;
  background-color: rgba(48, 95, 100, 1);
}
.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
.footer_wrapper_first_group_title {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 0 24px;
  padding-top: 100px;
}
.footer_wrapper_first_group_title2 {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_wrapper_second_group_title {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.footer_wrapper_third_group_title {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.footer_wrapper_fourth_group_title {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.footer_wrapper_first_group_text {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
  max-width: 308px;
}
.footer_wrapper_second_group_li {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.footer_wrapper_third_group_li {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.footer_wrapper_fourth_group_text {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 240px;
  margin-bottom: 40px;
}

.copyright {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.footer_wrapper_second_group {
  padding-top: 101px;
}
.footer_wrapper_third_group {
  padding-top: 101px;
}
.footer_wrapper_fourth_group {
  padding-top: 101px;
}
.footer_wrapper_second_group_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_wrapper_third_group_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social_networks {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}
.network {
  border-radius: 50%;
  background-color: rgba(48, 95, 100, 1);
}
.email_textbox {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  justify-content: space-between;
}
.email_textbox_button {
  display: flex;
  border-radius: 50%;
  background: rgba(255, 182, 36, 1);
  margin: 11px 12px 9px 0px;
  padding: 6px 6px;
  width: 28px;
}
.email_textbox_text {
  color: rgba(133, 147, 149, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin: 14px 0 13px 22px;
}
.copyright_text {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 0;
  display: flex;
  align-self: center;
  justify-self: center;
}
.email__footer_img {
  width: 16px;
  height: 16px;
}
.copyright {
  border-top: 1px solid rgba(64, 121, 128, 1);
}
@media (max-width: 992px) {
  .about_company_img {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header_new_nav {
    display: block;
  }
  .about_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
  }
  .about_company_title {
    text-align: center;
  }
  .about_company__wrapper {
    display: block;
  }
  .about_company_text {
    text-align: center;
  }
  .partners {
    margin-top: 70px;
  }
  .image_block {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .about_company_title {
    font-size: 34px;
  }
  .about_company_text {
    font-size: 18px;
  }
  .about_us_wrapper_text {
    margin-top: 20px;
    padding: 0;
    flex: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_us_wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .about_us {
    margin-top: 70px;
  }
  .container {
    max-width: 788px;
  }
  .about_furniture {
    margin-top: 70px;
  }
  .all_furniture {
    margin-top: 70px;
  }
  .all_furniture_part {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .all_furniture_list {
    justify-content: space-evenly;
    gap: 30px 0;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .all_furniture_button {
    flex: 1 1 222px;
  }
  .feedback {
    margin-top: 70px;
  }
  .feedback_wrapper_title {
    padding: 0;
  }
  .feedback_wrapper {
    gap: 20px;
    flex-direction: column;
  }
  .register_wrapper_title {
    font-size: 24px;
  }
  .feedback_wrapper_img {
    align-self: center;
  }
  .feedback_wrapper_text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register_textbox {
    align-items: center;
    flex-direction: column;
    background: none;
    gap: 15px;
  }
  .email_img {
    display: none;
  }
  .register_textbox_text {
    text-align: center;
    padding: 15px;
  }
  .footer_wrapper {
    gap: 40px;
    padding-top: 40px;
  }
  .register {
    margin-top: 40px;
  }
  .footer {
    margin-top: 70px;
  }
  .footer_wrapper_first_group_title {
    padding: 0;
  }
  .footer_wrapper_second_group {
    padding: 0;
  }
  .footer_wrapper_third_group {
    padding: 0;
  }
  .footer_wrapper_fourth_group {
    padding: 0;
  }
}
